body {
    background-color:white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

#navbar {
    width: 135px;
    height: auto;
    position: fixed;
  }
  
#navbar a {
    display: block;
    background-color:#4CAF50;
    color:white;
    padding: 50px;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 20px;
  }
  
#navbar a:hover {
    background-color: #ccc;
  }
  
h1 {
    font-style: italic;
    color:grey;
    margin-left: 6px;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

div {
    font-style: italic;
    margin-left: 10px;
}

.diff-p {
  font-style: italic;
}
  

body {
  background-color: white;
}

.some-page-wrapper {
  margin: 15px;
  background-color:gainsboro;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: white;
  height: 100px;
}

.green-column {
  background-color:white;
  height: 100px;
}

.orange-column {
  background-color:white;
  height: 100px;
}

@media screen and (min-width: 400px) {
  body {
    background-color: #996532;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: white;
  }
}